/* Общие стили */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f9f9f9; */
    color: #333;
}

.hidden {
    display: none;
}

/* Навигация */
.nav-header {
    background-color: #333;
    width: 100%;
    height: 30px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.navig {
    width: max-content;
}

.navig ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navig li {
    margin: 0 10px;
}

.navig a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.cart-button {
    background-color: #0078d7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.cart-button:hover {
    background-color: #0056a3;
}

/* Основной контент */
.main {
    max-width: 500px;
    margin: 50px auto 0;
}

.block_item {
    background: white;
    padding: 0 30px;      
}

/* Блюда */
.dish {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    min-height: 150px;
    padding: 20px;

    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}
.dish-img-block {
    width: 40%;
    
    
}

.dish-info-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
}
.dish-info-block p {
    margin-top: 10px;
}

.dish img {
    width: 100%;
    height: 100%;
    margin-right: 15px;
    border-radius: 10px;
    background-color: #ddd;
}

.price {
    margin-top: auto;
    align-self: end;
}

.dish-controls {

    display: flex;
    align-items: center;
    align-self: end;
    gap: 10px;
    margin-top: auto;
}

.add-to-cart {
    background-color: #0078d7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.add-to-cart:hover {
    background-color: #0056a3;
}

.change-cnt-btn {
    width: 30px;
    background-color: #0078d7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity-controls.hidden {
    display: none;
}

/* Корзина */
.cart {
    position: fixed;
    /* top: 80px;
    right: 0; */

    top: 40px;                    /* Отступ сверху */
    left: 40px;                   /* Отступ слева */
    right: 40px;                  /* Отступ справа */
    bottom: 40px;

    /* width: 300px; */
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    overflow-y: auto;
}
.cart-content {
    max-width: 500px;
    margin: 0 auto;
}


.cart.hidden {
    display: none;
}

.cart h2 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 20px;
}

.cart-items {
    margin-bottom: 20px;
}

.close-cart {
    background-color: #ff5f5f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.close-cart:hover {
    background-color: #e44e4e;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 900;
    display: block;
}

#overlay.hidden {
    display: none;
}


/* For fixed button */
.fixed-button {
    position: fixed;        /* Фиксируем кнопку относительно окна браузера */
    bottom: 20px;           /* Расстояние от нижнего края экрана */
    right: 20px;            /* Расстояние от правого края экрана */
    /* padding: 10px 20px;     /* Отступы внутри кнопки */
    /* font-size: 16px;        /* Размер шрифта */
    /* background-color: #4CAF50; /* Цвет фона кнопки */
    /* color: white;           /* Цвет текста */
    /* border: none;           /* Убираем рамку */
    /* border-radius: 5px;     /* Скругление углов */
    cursor: pointer;       /* Курсор в виде указателя */
    z-index: 1000;          /* Чтобы кнопка была поверх других элементов */
}